{# ! NOTE ! #}
{# Always read this wiki carefully before making/modifing a template : https://squeezely.atlassian.net/wiki/spaces/KB/pages/1484980225/Personalization+template+requirements #}

{% if (designerPreviewMode) or (not variantId) or (not revision) or (not cssPrefixEnabled)  %}
    {% set cssPrefix = '' %}
{% else %}
    {% set cssPrefix %}#sqzl_div-{{ variantId }}-{{ revision }}{% endset %}
{% endif %}
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Montserrat:400,400i,500,700,700i&#038;ver=4.9.5' type='text/css' media='all' />
<link href="https://fonts.googleapis.com/css?family=Open+Sans:400i,700|Roboto:300,400,500,700&display=swap" rel="stylesheet">
<style>

    {{ cssPrefix }} .sqzly-backdrop { position: fixed; top: 0; left: 0; right: 0; bottom: 0; background: #888; opacity: 0.5; z-index: 1;}
    {{ cssPrefix }} .sqzly-modal { position: fixed; min-width: 400px; max-width: 400px; z-index: 9999999; background-color: white; border: 0px solid #ccc;
        border-radius: .25rem; display: block; padding: 20px; font-weight: 500; color: #333; padding: 0 transition: all ease-in .5s;
        -webkit-box-shadow: 0 3px 6px rgb(0 0 0 / 16%); box-shadow: 0 3px 6px rgb(0 0 0 / 16%);
        font-family: Calibri,FTC-Calibri,"Helvetica Neue",Helvetica,Arial,sans-serif; font-size: 16px; line-height: 19px; animation: sqzly-slide-up 0.4s ease;
    }
    {{ cssPrefix }} .sqzly-modal-close {
        position: absolute; text-decoration: none; top: -12px; right: -14px; height: 30px; width: 30px; padding: 1px 0 0 1px !important; box-sizing: border-box; text-align: center; line-height: 32px; font-size: 35px;; color: #555;
        cursor: pointer;
    }
    {{ cssPrefix }} .sqzly-modal * { box-sizing: border-box; }
    {{ cssPrefix }} .sqzly-modal-close:hover { text-decoration: none !important; color: #000!important; }
    {{ cssPrefix }} a.sqzly-modal-close:focus { text-decoration: none; }
    {{ cssPrefix }} .sqzly-modal.sqzl-update { animation: none; }
    {{ cssPrefix }} .sqzly-modal.sqzly-image-left, .sqzly-modal.sqzly-image-right { min-width: 300px; max-width: 600px }
    {{ cssPrefix }} .sqzly-modal h3 { font-size: 22px; border: 0px;}
    {{ cssPrefix }} .sqzly-modal-image { height: 180px; background-position: center; background-repeat: no-repeat; background-size: contain;}
    {{ cssPrefix }} .sqzly-modal-image.sqzly-modal-image-placeholder { background-color: #CED4D7; height: 130px; border-radius: 4px; }
    {{ cssPrefix }} .sqzly-image-left .sqzly-modal-image { width: 150px; float: left; margin-bottom: 0px; margin-right: 15px; }
    {{ cssPrefix }} .sqzly-image-right .sqzly-modal-image { width: 150px; float: right; margin-bottom: 0px; }
    {{ cssPrefix }} .sqzly-image-left .sqzly-modal-content { min-width: 135px; max-width: 390px; }
    {{ cssPrefix }} .sqzly-image-right .sqzly-modal-content { min-width: 135px; max-width: 390px; }
    {{ cssPrefix }} .sqzly-price { font-size: 16px; font-weight: bold; color: #555; }
    {{ cssPrefix }} .sqzly-top-left { top: 100px; left: 30px; }
    {{ cssPrefix }} .sqzly-top-center { top: 100px; left: 50%; margin-left: -200px; }
    {{ cssPrefix }} .sqzly-top-right { top: 100px; right: 30px; }
    {{ cssPrefix }} .sqzly-center { top: 50%; left: 50%; margin-left: -200px; margin-top: -200px; }
    {{ cssPrefix }} .sqzly-bottom-left { bottom: 30px; left: 30px; }
    {{ cssPrefix }} .sqzly-bottom-center { bottom: 30px; left: 50%; margin-left: -200px; }
    {{ cssPrefix }} .sqzly-bottom-right { bottom: 30px; right: 30px; }

    {{ cssPrefix }} .sqzly-fields {display: flex; margin-top: 17px; position: relative; flex-wrap: wrap;}
    {{ cssPrefix }} .sqzly-fields label { font-weight: bold; }
    {{ cssPrefix }} .sqzly-fields input[type="text"], .sqzly-fields input[type="email"] { border: 1px solid #707070; color: #707070; font-size: 16px; line-height: 19px; height: 40px; width: 100%; padding: 9px 35px 11px 12px;
        border-radius: 4px 0 0 4px; font-family: Calibri,FTC-Calibri,"Helvetica Neue",Helvetica,Arial,sans-serif; }
    {{ cssPrefix }} .sqzly-fields input[type="text"]:focus, .sqzly-fields input[type="email"]:focus { outline: 0; border: 1px solid #00AEEF; border-radius: 4px 0 0 4px; }
    {{ cssPrefix }} .sqzl-clearer { clear: both; }
    .flatpickr-calendar.open { z-index: 9999999; font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif; }
    {{ cssPrefix }} .sqzly-error { border-color: #707070 !important; }
    {{ cssPrefix }} .sqzly-checkbox-error { color: #eb7053 !important; }
    {{ cssPrefix }} .sqzly-collapse { display: none !important; }

    {{ cssPrefix }} .sqzly-thankyou {
        display: none;
        padding: 18px 22px 40px 20px;
    }
    {{ cssPrefix }} .sqzly-modal .sqzly-thankyou H3 {
        margin: 0px;
    }
    {{ cssPrefix }} .sqzly-thankyou.sqzly-in { display: block; }
    {{ cssPrefix }} .sqzly-fields label { display: inline; }
    {{ cssPrefix }} input[type="checkbox"].sqzly-checkbox { display: inline !important; visibility: visible !important; height: 13px !important;}

    {{ cssPrefix }} .sqzly-header {  width: 100%; }


    {{ cssPrefix }} a.sqzly-btn{ display:inline-block; height: 40px; box-sizing: border-box; text-decoration:none; font-family: Calibri,FTC-Calibri,"Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size: 14px; font-weight:700;  color: #ffffff; background-color: #ec008c; text-align:center; transition: all 0.2s; box-shadow: 0 1px 3px #00000026; }
    {{ cssPrefix }} a.sqzly-btn:active { outline: 0; background-image: none; }
    {{ cssPrefix }} a.sqzly-btn.sqzly-btn-fullwidth { width: 100%; }

    @media all and (max-width:30em){
        {{ cssPrefix }} a.sqzly-btn{ display:block; margin:0.2em auto;}
    }
    @media( max-width : 450px ){
        {{ cssPrefix }} .sqzly-modal {
            padding: 10px;
            margin-left: 0px;
            left: 0px;
            right: 0px;
            max-width: 100%;
            min-width: inherit;
        }
        {{ cssPrefix }} .sqzly-modal-close {
            top: 5px;
            right: 5px;
            box-shadow: none;
            -webkit-box-shadow: none;
            padding-left: 0px;
        }
        {{ cssPrefix }} .sqzly-modal h3 { font-size: 16px; }
        {{ cssPrefix }} .sqzly-image-left .sqzly-modal-image, .sqzly-image-right .sqzly-modal-image, .sqzly-modal-image,
        {{ cssPrefix }} .sqzly-modal-image.sqzly-modal-image-placeholder{ width: 100%; height: 100px; }
        {{ cssPrefix }} .sqzly-image-left .sqzly-modal-content, .sqzly-image-right .sqzly-modal-content { margin-left: 0px; margin-top: 15px; min-width: inherit; clear: both; width: 100%; }
        {{ cssPrefix }} .sqzly-top-left, .sqzly-top-center, .sqzly-top-right, .sqzly-center, .sqzly-bottom-left, .sqzly-bottom-center, .sqzly-bottom-right { top: auto; bottom: 10px; left: 10px; right: 10px; }
        {{ cssPrefix }} a.sqzly-btn { padding: 4px;}
    }

    @keyframes sqzly-slide-up {
        0% {
            opacity: 0;
            transform: translateY(20px);
        }
        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }

    /* custom css */
    {{ cssPrefix }} .sqzly-header {  width: 100%; }
    {{ cssPrefix }} .sqzly-modal-image { height: auto; }
    {{ cssPrefix }} .sqzly-modal-image img{ max-width: 100%;  min-width: 100%; }
    {{ cssPrefix }} .sqzly-modal { padding: 0; border: none;  box-shadow: 0 3px 6px rgb(0 0 0 / 16%); width: 400px; bottom: 60px; left: 30px;  border: 1px solid #c5c5c5; }
    {{ cssPrefix }} .sqzly-modal-content{ font-family: Calibri,FTC-Calibri,"Helvetica Neue",Helvetica,Arial,sans-serif; width: 400px; }
    {{ cssPrefix }} .sqzly-modal h3{ font-family: Calibri,FTC-Calibri,"Helvetica Neue",Helvetica,Arial,sans-serif; color: #252525; font-size: 20px; line-height: 24px; font-weight: bold; margin: 0; }
    {{ cssPrefix }} .sqzly-body{ color: #000; font-size: 16px; font-weight: 400; line-height: 19px; padding: 0px; }
    {{ cssPrefix }} .sqzly-price{ color: #040404; font-size: 14px; font-weight: 500; background: #2ef5e2; display: inline; padding: 6px 10px; border-radius: 4px; position: absolute; top: -15px; left: 28px; }
    {{ cssPrefix }} a.sqzly-btn{ border-radius: 0 4px 4px 0; color: {% if color_2.value %}{{ color_2.value }}{% else %}#ffffff{% endif %};
        background-color:{% if color_1.value %}{{ color_1.value }}{% else %}#2e74f5{% endif %}; font-size: 18px; line-height: 24px; min-width: 144px; padding: 8px 22px 0 0px; }
    {{ cssPrefix }} a.sqzly-btn.sqzly-btn-fullwidth { width: 100%; }
    {{ cssPrefix }} .sqzly-modal-close{  font-family: 'Open Sans', sans-serif; font-size: 15px; font-weight: 400; color: #666;  top: 15px; right: 12px; line-height: 1; width: 24px; height: 24px; font-weight: 700; }
    {{ cssPrefix }} .sqzly-description{ padding: 18px 20px; }
    {{ cssPrefix }} .sqzly-body.discount { color: #707070; padding-top:12px; }
    {{ cssPrefix }} .count-customers{ color: #0ab21b; line-height: 20px; padding: 0;  text-align: right; margin-top: 12px; font-size: 14px; }
    {{ cssPrefix }} .preferences{ width: 100%; margin-bottom:12px; }
    {{ cssPrefix }} .preferences-title{ font-weight: 700; margin-bottom: 8px; color: #707070;}
    {{ cssPrefix }} .checkbox-container{ position: relative; display: inline-block; }
    {{ cssPrefix }} .checkbox-container label{ font-weight: 400; cursor: pointer; }
    {{ cssPrefix }} .preferences .checkbox-container:last-child{ padding-left: 20px; }
    {{ cssPrefix }} input[type=checkbox]{ position: absolute; cursor: pointer; -webkit-appearance: none; -moz-appearance: none; appearance: none; margin-left: 0; }
    {{ cssPrefix }} input[type="checkbox"] + span{ padding-left: 28px; line-height: 22px; }
    {{ cssPrefix }} input[type="checkbox"]:before{ content: ""; position: absolute; top: 0; left: 0; background-color: #fff; display: inline-block; box-sizing: border-box; margin: -2px 11px 3px 0px; 
        border: 2px solid #666; border-radius: 2px; width: 18px; height: 18px; transition: border-color .2s,background-color .2s; } 
    {{ cssPrefix }} input[type=checkbox]:checked:before{ background-color: #ec008c; border: 2px solid #ec008c; }
    {{ cssPrefix }} .color-vp:checked:before{ background-color: #f58220!important; border: 2px solid #f58220!important; }
    {{ cssPrefix }} input[type=checkbox]:checked:after{ content: ""; display:  block; position: absolute; top: -2px; left: 1px; width: 11px; height: 6px; border: solid 2px transparent; border-right: none;
        border-top: none; transform: translate(3px,4px) rotate(-45deg); border-color: #FFF; }
    {{ cssPrefix }} .no-wrap{ flex-wrap: nowrap; position: relative }
    {{ cssPrefix }} .error-message{ font-size: 11px; line-height: 16px; color: #f55;  margin-top: 3px; position: absolute; display: none; }
    {{ cssPrefix }} .error-message.hide{ display: none !important; }
    {{ cssPrefix }} .active-block{  display: block !important; }
    {{ cssPrefix }} .icon-vu-thick-arrow-right{  position: absolute;  color: #FFF; top: 16px;  right: 20px; font-size: 10px; }
    {{ cssPrefix }} .form-control-feedback{ top: 2px; display: none; }
    {{ cssPrefix }} .icon-vu-exclamation{ color: #FF5555; }
    {{ cssPrefix }} .icon-vu-check1{ color: #95C121; font-size: 24px; }
    {{ cssPrefix }} .input-invalid input:invalid{ border: 1px solid #FF5555 !important; background: #FF555526 0% 0% no-repeat padding-box; }
    {{ cssPrefix }} .input-invalid .icon.icon-vu-exclamation.form-control-feedback{ display: block !important; }
    {{ cssPrefix }} .input-invalid + .error-message{ display: block; }
    {{ cssPrefix }} .input-invalid input[type="email"]:not(:placeholder-shown):valid ~ .error-message{ display: none !important; }
    {{ cssPrefix }} input[type="email"]:not(:placeholder-shown):valid{ border-bottom: 1px solid #95C121 !important; border: 1px solid #707070; }
    {{ cssPrefix }} input[type="email"]:not(:placeholder-shown):valid ~ .icon.icon-vu-exclamation.form-control-feedback{ display: none !important; }
    {{ cssPrefix }} input[type="email"]:not(:placeholder-shown):valid ~ .icon.icon-vu-check1.form-control-feedback{ display: block !important; }
    {{ cssPrefix }} .status-list{ margin-top: 12px; margin-bottom: 0px; list-style: none; padding: 0; font-size: 16px; color: #707070; line-height: 19px; position: relative; }
    {{ cssPrefix }} .status-list li{ padding-left: 32px; padding-bottom: 18px; position: relative; }
    {{ cssPrefix }} .status-list li:before{ content: ""; position: absolute; background: #c5c5c5 0 0 no-repeat padding-box; border: 2px solid #fff; border-radius: 12px; width: 16px; height: 16px;
        left: 0px; top: 4px; z-index: 1; }
    {{ cssPrefix }} .status-list li:after { content: ""; position: absolute; border-radius: 12px; width: 4px; height: 30px; left: 6px; top: 16px; background: #c5c5c5; }
    {{ cssPrefix }} .status-list li:first-child:before, .status-list li:first-child:after{ background: #ec008c !important; }
    {{ cssPrefix }} .status-list li:last-child:after{ width: 0px; }
    {{ cssPrefix }} .status-list li:last-child{ padding-bottom: 0px; }
    {{ cssPrefix }} .color-vp {background-color: #f58220!important; }
    @media( max-width : 450px ){
        {{ cssPrefix }} .sqzly-top-left, .sqzly-top-center, .sqzly-top-right, .sqzly-center, .sqzly-bottom-left, .sqzly-bottom-center, .sqzly-bottom-right { top: auto; bottom: 10px; left: 10px; right: 10px; }
    }
    @keyframes sqzly-slide-up {
        0% {
            opacity: 0;
            transform: translateY(20px);
        }
        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }

</style>
<style>
    {{ css }}
</style>

{% for parsedItem in items %}
    <div class="sqzly-modal {{ updateclass }} sqzly-{{ location.value }}">
        <a class="icon icon-vu-close close sqzly-modal-close"></a>
        <div class="sqzly-modal-content">

            {% if elements.image.enabled %}
                {% if parsedItem.image %}
                    <div class="sqzly-modal-image " style="margin: {{ elementSettings.margin }}" >
                        <img src="{{ parsedItem.image }}">
                    </div>
                {% else %}
                    <div class="sqzly-modal-image sqzly-modal-image-placeholder" style="margin: {{ elementSettings.margin }};"></div>
                {% endif %}
            {% endif %}

            <div class="sqzly-description">

                {% for element, elementSettings in elements %}

                    {% if element == 'header' and elementSettings.enabled and parsedItem.header %}

                        <div class="sqzly-header" style="margin: {{ elementSettings.margin }}">
                            {{ parsedItem.header }}
                        </div>
                        <div style="clear: both"></div>

                    {% elseif element == 'title' and elementSettings.enabled %}

                        <h3>
                            {% if parsedItem.title %}
                                {{ parsedItem.title }}
                            {% else %}
                                Title
                            {% endif %}
                        </h3>

                    {% elseif element == 'body' and elementSettings.enabled %}

                        <div class="sqzly-body discount">
                            {% if parsedItem.body %}
                                {{ parsedItem.body }}
                            {% else %}
                                {% if content_type == 'products' and product|length > 0 and body|length > 0 %}
                                    {{ parsedItem.body }}
                                {% elseif content_type == 'products' and designerPreviewMode %}
                                    {% raw %}{{ description }}{% endraw %}
                                {% else %}
                                    Enter your own HTML body text here.
                                {% endif %}
                            {% endif %}
                        </div>

                    {% elseif element == 'button' and elementSettings.enabled %}

                        <div class="sqzly-fields">
                            <!--<div class="preferences">
                                  <div class="preferences-title">
                                    Ik wil aanbiedingen voor:
                                  </div>
                                  <div class="checkbox-container">
                                    <label>
                                      <input type="checkbox" id="preference-hotel" checked/>
                                      <span>Hotels</span>
                                    </label>
                                  </div>
                                  <div class="checkbox-container">
                                    <label>
                                      <input type="checkbox" id="preference-vakantiepark" checked />  
                                      <span>Vakantieparken</span>
                                    </label>
                                  </div> 
                                </div>-->
                            <div class="no-wrap">
                            {% for field in fields %}
                                {% if field.type == 'checkbox' %}
                                    <label>
                                        <input type="checkbox" data-field-id="{{ field.id }}" class="sqzly-checkbox" data-value-checked="{{ field.checkbox_option_checked }}" data-value-unchecked="{{ field.checkbox_option_unchecked }}" />  {{ field.label }}
                                    </label>
                                {% elseif field.type == 'gender' %}
                                    <label for="sqzly_field_{{ field.id }}" >{{ field.label }}</label><br />
                                    <select class="sqzly-input sqzly-gender" id="sqzly_field_{{ field.id }}" data-field-id="{{ field.id }}">
                                        <option value="U"></option>
                                        <option value="M">Male</option>
                                        <option value="F">Female</option>
                                    </select>
                                {% elseif field.type == 'text' %}

                                    {% if field.display == 'select' %}
                                        
                                        <select id="sqzly_field_{{ field.id }}" data-field-id="{{ field.id }}" class="sqzly-input sqzly-textfield">
                                            {% for option in field.select_options %}
                                                <option value="{{ option }}">{{ option }}</option>
                                            {% endfor %}
                                        </select>
                                    {% elseif field.display == 'checkbox' %}
                                        <label>
                                            <input type="checkbox" id="sqzly_field_{{ field.id }}" data-value-checked="{{ field.checkbox_option_checked }}" data-value-unchecked="{{ field.checkbox_option_unchecked }}" data-field-id="{{ field.id }}" class="sqzly-checkbox" />  {{ field.label }}
                                        </label>
                                    {% elseif field.display == 'hidden' %}
                                        <input type="hidden" id="sqzly_field_{{ field.id }}" data-field-id="{{ field.id }}" class="sqzly-input sqzly-hiddenfield" value="{{ field.hidden_value }}" />
                                    {% else %}
                                        <label for="sqzly_field_{{ field.id }}" >{{ field.label }}</label><br />
                                        <input type="text" id="sqzly_field_{{ field.id }}" data-field-id="{{ field.id }}" class="sqzly-input sqzly-textfield" placeholder="{{ field.placeholder }}" />
                                    {% endif %}

                                {% elseif field.type == 'date' %}
                                    <label for="sqzly_field_{{ field.id }}" >{{ field.label }}</label><br />
                                    <input type="text" id="sqzly_field_{{ field.id }}" data-field-id="{{ field.id }}" class="sqzly-input sqzly-datepicker" />
                                {% elseif field.type == 'email' %}
                                    <input type="email" id="sqzly_field_{{ field.id }}" data-field-id="{{ field.id }}" class="sqzly-input sqzly-emailfield" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" placeholder="{{ field.placeholder }}" />
                                {% endif %}
                            {% endfor %}
                            <span class="icon icon-vu-exclamation form-control-feedback"></span>
                            <span class="icon icon-vu-check1 form-control-feedback"></span>
                            </div>
                            <div style="position: relative">
                                <a href="javascript:" class="sqzly-form-submit sqzly-btn {% if elements.button.full_width %}sqzly-btn-fullwidth{% endif %}">{% if parsedItem.button %}{{ parsedItem.button }}{% else %}CTA text{% endif %}</a>
                                <i class="icon-vu-thick-arrow-right"></i>
                            </div>
                        </div>
                        <div class="error-message">
                            dit veld is verplicht
                        </div>
                        <div class="count-customers">
                            800.000+ klanten gingen u al voor!
                        </div>

                    {% endif %}

                {% endfor %}
            </div>
        </div>
        <div class="sqzly-thankyou">
            {% if parsedItem.thankyou %}
                {{ parsedItem.thankyou }}
            {% endif %}
        </div>
    </div>
{% endfor %}
{% if backdrop and backdrop.checked == true %}<div class="sqzly-backdrop" style="display: block" ></div>{% endif %}
        