.body {
  padding-top: 20px;
  padding-left: 20px;
}
.getInput {
  width: 450px;
  border-radius: 4px;
  height: 40px;
  line-height: 40px;
  padding-left: 12px;
  margin-bottom: 30px;
  border-color: #707070;
  border-width: 1px;
  border-top: 1px solid #707070
}
img {
  width: 300px;
  border-radius: 4px;
  margin-bottom: 20px;
  height: auto;
  object-fit: cover;
}
.title {
  font-weight: 700;
  color: #ec008c;
  font-size: 18px;
  line-height: 29px;
}
.package {
  padding-bottom: 30px;
  border-bottom: 1px solid #c5c5c5;
  margin-bottom: 30px;
  width: 450px;
}